<kendo-grid
  [kendoGridBinding]="gridView"
  kendoGridSelectBy="id"
  [selectedKeys]="mySelection"
  [pageSize]="20"
  [pageable]="true"
  [sortable]="true"
  [groupable]="false"
  [reorderable]="true"
  [resizable]="true"
  [height]="600"
  [columnMenu]="{ filter: true }">


  <kendo-grid-checkbox-column
    [width]="45"
    [headerClass]="{ 'text-center': true }"
    [class]="{ 'text-center': true }"
    [resizable]="false"
    [columnMenu]="false"
    [showSelectAll]="true">
  </kendo-grid-checkbox-column>


    <kendo-grid-column field="status" title="Contact Name">
      <ng-template kendoGridCellTemplate let-dataItem>
        <div class="project-name">{{ dataItem.status }}</div>
      </ng-template>
    </kendo-grid-column>
    <kendo-grid-column field="name" title="Project Name">
    </kendo-grid-column>
  <kendo-grid-column field="typeId" title="Project Type">
  </kendo-grid-column>
    <kendo-grid-column
      field="createDate"
      title="Create Date"
      [class]="{ 'text-center': true }"
      [resizable]="true">
      <ng-template kendoGridCellTemplate let-dataItemDate>
        <div>{{ dataItemDate.createDate | shortDateWithTime }}</div>
      </ng-template>
    </kendo-grid-column>
  <kendo-grid-column
    field="lastUpdated"
    title="Last Updated"
    [class]="{ 'text-center': true }"
    [resizable]="true">
    <ng-template kendoGridCellTemplate let-dataItemDate>
      <div>{{ dataItemDate.createDate | shortDateWithTime }}</div>
    </ng-template>
  </kendo-grid-column>
  <kendo-grid-column
    field="id"
    title=""
    [class]="{ 'text-center': true }"
    [resizable]="true">
    <ng-template kendoGridCellTemplate let-dataItemDate>
      <div>
        <button class="action-item-ag"
          (click)="onActionClicked('Edit')">
          Edit
        </button>
        <button class="action-item-ag"
          (click)="onActionClicked('Delete')">
          Delete
        </button>
      </div>
    </ng-template>
  </kendo-grid-column>

</kendo-grid>
